.aidlc

# Dictionary gobs
*.gob

# Claude's Test data
testdata/

# Standard Go build artifacts
*.exe
*.test
*.out
vendor/

# OS artifacts
.DS_Store
Thumbs.db

# gograph
.gograph/

# editor/IDE temp files
*~
.*.swp
.*.swo
.idea/

# binaries
*.apk
buildgaddag
squabble*
